<!-- cards.edit.html.erb -->
<br>
<h3>Edit This Credit Card Info</h3>
<%= simple_form_for @card do |f| %>
<%= f.input :cardnum, label: 'Credit Card Number' %><br>
<%= f.input :cardtype, label: 'Credit Card Type' %><br>
<h6>Expiration (i.e. June = 06)</h6>
<%= f.input	:expire_m, label: 'Expiration Month' %><br>
<%= f.input	:expire_y, label: 'Expiration Year' %> <br>
<%= f.button :submit "Update this Credit Card", class: "my-button" %>
<% end %>
<br>
<br>
<%= link_to "Log Out", logout_path, method: :delete %>
<br>
<br>
<%= link_to "Look at ALL of your Cards and options", cards_path %> 
<br>
<br>